@robot 'init', local:true

@hub.load 'bayeux'

@hub.load 'layoutron', =>
  @hub.load 'displayinator', =>
    @hub.load r for r in [
      'messagebuilder'
      'accordy1'
      'inputnik'
      'sendax'
      'jsonformatic'
      'iTransmitForTheUsers'
      'historinox'
      'chatformatic'
      'nickformatic'
      'nix'
      'who3p0'
      'entitytracker'
    ]


