@robot 'init', local:true

@hub.load
  federatron: =>
    @transmit 'federate', '/channel'
  layoutron:
    jsonformatic:
      displayinator: [
        'chatformatic'
        'nickformatic'
        'nix'
        'who3p0'
        'messagebuilder'
        'inputnik'
        'sendax'
        'iTransmitForTheUsers'
        'historinox'
        'accordy1'
        'entitytracker'
      ]
